<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
</head>
<body>
      <form action="/custInfo"  method="post">

          Customer Id : <input type="number" name="c_id" required><br><br>
          Customer Name: <input type="text" name="c_name" required><br><br>
          Customer Email  : <input type="email" name="c_email" required><br><br>
          Product Quantity  : <input type="number" name="c_qty" required><br><br>

          <center> <input type="submit"> </center>

    </form>
</body>
</html>