<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body class="back_color">
    <div class="nav1">
        <div class="nav2">
            <h3><a class="anch" href="/" style="color:white;font-size: 20px">Home</a></h3>
            <div class="hide">
                Back to home page
            </div>

            <h3>About us</h3>
            <!-- <div class="hide">
                We are here to provide services to you
            </div> -->
            <h3>Contact</h3>

            <!-- <div class="hide">
                contact us abc@gmail.com
            </div> -->
        </div>
    </div>
    <!-- <img class="img2" src="D:\shop_project\product2.jpg"> -->
    <div class="header_section">
        <div class="header_wrapper">
            <h1>A satisfied customer is our best reward...</h1>
            <p>
                <h2>Customer satisfaction is our rating...</h2>

                <h2>Loyalty is a brand!!</h2>
            </p>
        </div>
    </div>
    <div class="customer">
        <button><a class="anch" href="/custInfo"> Buy Product</a></button>
        <button><a class="anch" href="/searchcust"> Search Customer</a></button>
        <button><a class="anch" href="/ViewCust"> View Customer details</a></button>
    </div>
</body>

</html>