<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
</head>
<body>
      <form action="/productInfo"  method="post">

          Product brand : <input type="text" name="brand" required><br><br>
          Product Id : <input type="text" name="p_id" required><br><br>
          Product Name  : <input type  ="text" name="name" required><br><br>
          Quantity : <input type="text" name="quantity" required><br><br>

          <center> <input type="submit"> </center>

    </form>
</body>
</html>