 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="static/style.css">

</head>

<body>
    <div class="nav1">
        <div class="nav2">
            <h3>Home</h3>
            <div class="hide">
                Welcome to our page
            </div>

            <h3>About us</h3>
            <div class="hide">
                We are here to provide services to you
            </div>
            <h3>Contact</h3>

            <div class="hide">
                contact us abc@gmail.com
            </div>
        </div>
    </div>

    <img class="img2" src="static/Product.png">
    <div class="product">
        <button><a class="anch" href="/productInfo">Add new product</a></button>
        <button><a class="anch" href="/Viewproducts"> View Product details</a></button>
        <button><a class="anch" href="#"> Search Product</a></button>
        <button><a class="anch" href="#"> Delete Product</a></button>

    </div>

</body>

</html>