<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Product</title>
    <link rel="stylesheet" href="static/search.css">
</head>

<body>

    <h1>Search Product here</h1>
    <form action="\searchprod" method="post">
    <div>
        <input type="search" class="search" name="p_id"  placeholder="Enter product Id">
    </div>
    <div>
        <button type="submit" class="btn" >Search</button>
    </div>
    </form>
</body>

</html>